* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #fcc6c6;
}

.todo-container {
  text-align: center;
  background-color: rgb(192, 235, 241);
  padding: 40px;
}

.title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.todo-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.todo-input {
  padding: 10px;
  font-size: 1rem;
  width: 300px;
}

.btn {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(99, 99, 239);
  border: none;
  border-radius: 10px;
}
.btn:hover{
    background-color: rgb(60, 60, 228)
}

.todo-list {
  list-style: none;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #94ce90;
  margin-top: 10px;
  padding: 10px 15px;
}

.todo-buttons {
  display: flex;
  gap: 10px;
}
