/* inline style attribute > id selectors > class selector > element selector */
div#container ul.my-songs li{
    color: green;
    background-color: yellow;
}
/* how to calculate specificity */
/* 0,1,1,3 ---> 113 */

div#container ul.my-songs li.favourite{
    color: yellow;
    background-color: green;
}

/* 0,1,2,3 ---> 123 */
