*{
    box-sizing: border-box;
}
.fav-musicians{
    border: 10px solid green;
}
.mozart{
    width: 25%;
    /* border: 2px solid red; */
    background-color: #f08080;
    float: left;
    padding: 20px;
}
.beethoven{
    width: 25%;
    /* border: 2px solid yellow; */
    background-color: lightpink;
    float: left;
    padding: 20px;
}
.ram{
    width: 25%;
    /* border: 2px solid green; */
    background-color: rgb(240, 214, 125);
    float: left;
    padding: 20px;
}
.sham{
    width: 25%;
    /* border: 2px solid blue; */
    background-color: lightgreen;
    float: left;
    padding: 20px;
}
/* .clearflix{
    clear: both;
} */
.fav-musicians::after{
    content: "";
    display: block;
    clear: both;
}