body {
  font-family: Arial;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

input {
  padding: 8px;
  width: 70%;
}

button {
  padding: 8px 12px;
}

li {
  margin: 8px 0;
  text-align: left;
  position: relative;
}

li button {
  position: absolute;
  right: 0;
}
